<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/jquery-2.1.3.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>
<body>
<div id="app">
    <el-form ref="form" :model="elec" label-width="80px">
        <el-form-item label="序号">
            <el-input v-model="elec.elecId"></el-input>
        </el-form-item>
        <el-form-item label="宿舍名称">
            <el-select v-model="elec.roomId" placeholder="请选择活动区域">
                <el-option v-for="item in options"
                           :key="item.roomId"
                           :label="item.roomName"
                           :value="item.roomId">
                </el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="用电量">
            <el-input v-model="elec.elecSum"></el-input>
        </el-form-item>
        <el-form-item label="用电金额">
            <el-input v-model="elec.elecMoney"></el-input>
        </el-form-item>
        <el-form-item label="月份">
            <el-input v-model="elec.elecMonth"></el-input>
        </el-form-item>
        <el-form-item label="缴费状态">
            <el-select v-model="elec.elecState" placeholder="请选择活动区域">
                <el-option v-for="item in options2"
                           :key="item.value"
                           :label="item.label"
                           :value="item.value">
                </el-option>
            </el-select>
        </el-form-item>
        <el-form-item>
            <el-button type="primary" @click="saveElec()">立即创建</el-button>
            <el-button>取消</el-button>
        </el-form-item>
    </el-form>
</div>
<script>
    $.ajax({
        url: "/room/selectRoom",
        dataType: "json",
        data: {},
        type: "get",
        success: function (data) {
            app.options=data;
        }
    });
    var app=new Vue({
        el:"#app",
        data:{
            elec:{},
            options:[],
            options2:[{
                value: '未交费',
                label: '未交费'
            },{
                value: '已交费',
                label: '已交费'
            }]
        },
        methods:{
            saveElec:function () {
                $.ajax({
                    url: "/elec/updateElec",
                    dataType: "json",
                    data:JSON.stringify(app.elec),
                    contentType:"application/json",
                    type: "post",
                    success: function (data) {
                        alert(data.message)
                        if (data.state){
                            window.location.href = "/user/elecList";
                        }
                    }
                });
            }
        }
    });

    var elecId=[[${elecId}]]
    alert(elecId)
    if (elecId!=undefined&&elecId!=null) {
        $.ajax({
            url: "/elec/selectElecByid",
            dataType: "json",
            data: {elecId: elecId},
            type: "get",
            success: function (data) {
                console.log(data)
                app.elec = data;
            }
        });
    }
</script>
</body>
</html>